on:
  push:
    branches:
      - main
      - distribution #remove this once kinks ironed out
permissions:
  contents:
    write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ "3.10", "3.11", "3.12", "3.13", "3.14"]
        
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      
      - name: Checkout repository and submodules
        uses: actions/checkout@v5
        with:
          submodules: recursive
            
      - name: Generate submodule hash
        id: submodule-hash
        uses: Andthehand/submodule-version-hash-action@main
        with:
          path: 'sgspy/extern/vcpkg'
            
      - name: Cache submodule build outputs
        id: cache-vcpkg-submodule
        uses: actions/cache@v5
        env:
          cache-name: cache-vcpkg-build
        with:
          path: sgspy/extern/vcpkg/*
          key: ${{ runner.os }}-vcpkg-${{steps.submodule-hash.outputs.sha256}}
            
      - name: Install vcpkg dependencies if cache miss
        if: ${{ steps.cache-vcpkg-submodule.outputs.cache-hit != 'true' }}
        run: ./scripts/install.sh
        
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest geopandas
        
      - name: Build package
        run: ./scripts/build.sh
        
      - name: Run pytests
        run: pytest
        
  deploy:
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ "3.10", "3.11", "3.12", "3.13", "3.14"]
        
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          
      - name: Checkout repository and submodules
        uses: actions/checkout@v5
        with:
          submodules: recursive
            
      - name: Generate submodule hash
        id: submodule-hash
        uses: Andthehand/submodule-version-hash-action@main
        with:
          path: 'sgspy/extern/vcpkg'
            
      - name: Cache submodule build outputs
        id: cache-vcpkg-submodule
        uses: actions/cache@v5
        env:
          cache-name: cache-vcpkg-build
        with:
          path: sgspy/extern/vcpkg/*
          key: ${{ runner.os }}-vcpkg-${{steps.submodule-hash.outputs.sha256}}
            
      - name: Install vcpkg dependencies if cache miss
        if: ${{ steps.cache-vcpkg-submodule.outputs.cache-hit != 'true' }}
        run: ./scripts/install.sh
        
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
        
      - name: Build wheel
        run: ./scripts/build_dist.sh
        
#here is where I would deploy, but I'm waiting to see if everything else works first:
#https://docs.github.com/en/actions/tutorials/build-and-test-code/python
#https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/