on:
  push:
    branches:
      - main
      - distribution #remove this once kinks ironed out on not-main branch
permissions:
  contents:
    write

jobs:
  test:
    runs-on: windows-latest
    strategy:
      matrix:
        python: ["3.12"]
        #python: [ "3.10", "3.11", "3.12", "3.13", "3.14"]
        
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      
      - name: Checkout repository and submodules
        uses: actions/checkout@v5
        with:
          submodules: recursive
        
      - name: Install and build C++ dependencies
        run: ./scripts/install.bat
        
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest geopandas
        
      - name: Build package
        run: ./scripts/build.bat
        
      - name: Run pytests
        run: pytest
        
  deploy:
    needs: test
    runs-on: windows-latest
    strategy:
      matrix:
        python: ["3.12"]
        #python: [ "3.10", "3.11", "3.12", "3.13", "3.14"]
        
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          
      - name: Checkout repository and submodules
        uses: actions/checkout@v5
        with:
          submodules: recursive
          
      - name: Install and build C++ dependencies
        run: ./scripts/install.bat
        
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
        
      - name: Build wheel
        run: ./scripts/build_dist.bat
        
#here is where I would deploy, but I'm waiting to see if everything else works first:
#https://docs.github.com/en/actions/tutorials/build-and-test-code/python
#https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/