#jobs:
#    build:
#        runs-on: ubuntu-latest
#        strategy:
#        matrix:
#            py: [ "3.10", "3.11", "3.12", "3.13", "3.14"]
#            
#        steps:
#          - name: Checkout repository and submodules
#            uses: actions/checkout@v4
#            with:
#                submodules: true
#                
#          - name: Generate submodule hash
#            id: submodule-hash
#            uses: Andthehand/submodule-version-hash-action@main
#            with:
#                path: 'sgspy/extern/vcpkg'
#                
#          - name: Cache submodule build outputs
#            id: cache-vcpkg-submodule
#            uses: actions/cache@v4
#            env:
#                cache-name: cache-vcpkg-build
#            with:
#                path: sgspy/extern/vcpkg/*
#                key: ${{ runner.os }}-vcpkg-${{steps.submodule-hash.outputs.sha256}}
#                
#            if: ${{ steps.cache-vcpkg-submodule.outputs.cache-hit != 'true' }}
#            